<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404-你访问的页面不存在-小V</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/password.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>     
	<div class="container">
	  <div class="row">
  		<div class="col-md-6 col-md-offset-3">
		  	<div class="hd">
			  <span class="title">404-你访问的页面不存在</span>
			</div>
			<div class="form-list">
			  <p>错误404：你访问的页面不存在！</p>
			</div>
		  </div>
		</div>
      </div>
		
	</div>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>